<div class="row">
  <nb-card>
    <nb-card-body><ngx-app-analytic>Load</ngx-app-analytic></nb-card-body>
  </nb-card>
<!--  <nb-card>-->
<!--&lt;!&ndash;    <google-chart>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      [title]="chart.title"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      [type]="chart.type"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      [data]="chart.data"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      [columnNames]="chart.columnNames"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      [options]="chart.options">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </google-chart>&ndash;&gt;-->
<!--  </nb-card>-->
</div>

