<div class="row">
  <nb-card>
    <nb-card-body>
      Приветствую на S5.

      <google-chart>
<!--        [title]="chart.title"-->
<!--        [type]="chart.type"-->
<!--        [data]="chart.data"-->
<!--        [columnNames]="chart.columnNames"-->
<!--        [options]="chart.options">-->
      </google-chart>
    </nb-card-body>
  </nb-card>
</div>
